
#main_page{
  padding:0px 30px;
  #main_page_text{
    padding:10px;
  }
}

#page_main_image{
  position:relative;

  $border: 1px solid $main_color;
  border:{
    top:$border;
    bottom:$border;
  }
  img{
    width: 100%;
  }
}


#sidebar_dates{
  #title{
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 10px;
  }
}

#dates_small_container{
  .date_tile{
    overflow: hidden;
    height:50px;
    position:relative;

    .text{
      position:absolute;
      left:0px;
      top:0px;
       .city{

        }
       .theater{

        }
       .date{

        }
       .time{

        }
    }
    a{
      position:absolute;
      right:5px;
      top:10px;
    .buy_ticket_button{
    $color: rgb(234,96,69);
      $color: rgba(150,150,150,0.7);
      padding:3px 7px;
      border: 1px solid darken($color,1%);
      border-radius: 3px;
      background-color: $color;
      color:white;
      &:hover{
        cursor: default;
       // background-color: lighten($color,10%);
       // border: 1px solid lighten($color,5%);

      }
      font-size: 1.05em;
      }
    }
  }
}


.facebook_activity_background{
  padding-left:2px;
  padding-right:0px;
  margin-top:-10px;

  $fb_color: rgba(173, 131, 98, 0.56);
  //background-color: $fb_color;
  min-width: 295px;
  //box-shadow: 2px 2px 5px 3px rgba(58, 52, 53, 0.64);

  &:hover{
    //background-color: lighten($fb_color,3%);
  }

  > .icon_menu_info{
    margin-left:4px;
    width:90%;
    padding: 0px;
    > .icon_menu_tile_text{
      margin-top: 0px;
    }
  }
}

#youtube_icon, #twitter_icon{
  height: 32px;
  margin-top:14px;
  position: relative;
  float:left;
  a{
    img{
      opacity: 0.85;
      height: 100%;
      &:hover{
        opacity: 1;
      }
    }
  }
}


@media screen and (max-width: 960px){
  .facebook_activity_background{
    float:left;
    margin:auto;
    display: none;
  }
}